<div class="jumbotron">
  <h2>{{title}}</h2>
  <br>
  <br>
  <h4>Select one item from each category</h4>
  <br>
  <form>
    <div class="card h-100">
      <div class="card-header"><h5>Chair<sup style="color: red" [hidden]="chair">*</sup></h5></div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-md-4 box" *ngFor="let chairitem of chairDetails">

            <div class="card h-100" style="width: 18rem;">
              <div class="h-50 d-inline-block">
                <img class="h-100 card-img-top" src={{chairitem.imagename}} alt="Card image cap">
              </div>

              <div class="card-body h-50 d-inline-block">
                <div class="h-75">
                  <h5 class="card-title"><span class="pull-left">{{ chairitem.name}}</span><span class="pull-right">{{ chairitem.price }}</span></h5>
                  <br>

                  <p class="card-text">{{ chairitem.description }}</p>
                </div>
                <div class="h-25">
                  <input type="radio" name={{chairitem.name}} value={{chairitem.name}} autocomplete="off" (click)="setChair(chairitem.name)" [(ngModel)]="chair">
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <br>
    <div class="card h-100">
      <div class="card-header"><h5>Table<sup style="color: red" [hidden]="table">*</sup></h5></div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-md-4 box" *ngFor="let tableitem of tableDetails">

            <div class="card h-100" style="width: 18rem;">
              <div class="h-50 d-inline-block">
                <img class="h-100 card-img-top" src={{tableitem.imagename}} alt="Card image cap">
              </div>

              <div class="card-body h-50 d-inline-block">
                <div class="h-75">
                  <h5 class="card-title"><span class="pull-left">{{ tableitem.name}}</span><span class="pull-right">{{ tableitem.price }}</span></h5>
                  <br>

                  <p class="card-text">{{ tableitem.description }}</p>
                </div>
                <div class="h-25">
                  <input type="radio" name={{tableitem.name}} value={{tableitem.name}} autocomplete="off" (click)="setTable(tableitem.name)" [(ngModel)]="table">
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <br>
    <button type="submit" [disabled]="!chair || !table" (click)="postPart1()" class="btn btn-primary">Submit and Continue</button>
  </form>
</div>
