<div class="jumbotron" *ngIf="!checkout">
  <h2>{{title}}</h2>
  <br>
  <br>
  <h4>Select one item from each category</h4>
  <br>
  <form [formGroup]="dataForm" (ngSubmit)="postPart1()">
    <div class="card h-100" *ngFor="let category of categories">
      <div class="card-header"><h5>{{category}}<sup style="color: red" [hidden]="chair">*</sup></h5></div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-md-4 box" *ngFor="let product of getProductByCategory(category)">
            <div class="card h-100" >
              <div class="h-50 d-inline-block">
                <img class="h-100 card-img-top" src={{product.imagename}} alt="Card image cap">
              </div>
              <div class="card-body h-50 d-inline-block">
                <div class="h-75">
                  <h5 class="card-title"><span class="pull-left">{{ product.name}}</span><span class="pull-right">{{ product.price }}</span></h5>
                  <br>
                  <p class="card-text">{{ product.description }}</p>
                </div>
                <div class="h-25">
                  <input type="radio" name={{product.category}} [value]="product" autocomplete="off" formControlName="{{product.category}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
     <input type="submit" [disabled]="!dataForm.valid"  class="btn btn-primary" value="Submit and Continue">
  </form>
</div>
<app-checkout1 *ngIf="checkout" [paymentMethod]="paymentMethod" [email]="email" [selectedProducts]="selectedProducts"></app-checkout1>
