<div class="jumbotron">
  <h2>{{title}}</h2>
  <br>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of selectedProducts">
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
    </tr>
    <tr class="table-active">
      <td><span style="font-weight: bold" class="pull-right">Total</span> </td>
      <td>{{total}}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <div class="row">
    <div class="col-md-6">
      <button (click)="goToPart2()"  class="btn btn-primary pull-left"><fa-icon [icon]="faBack"></fa-icon> Change Selection</button>
    </div>
    <div class="col-md-6">
      <button *ngIf="paymentMethod === 'cash'" (click)="goToIntro2()"  class="btn btn-primary pull-right"><fa-icon [icon]="faCash"></fa-icon> Pay the cashier</button>
      <button *ngIf="paymentMethod === 'dw1'" (click)="goToIntro2()"  class="btn btn-primary pull-right"><fa-icon [icon]="faWallet"></fa-icon> Pay using Digital Wallet</button>
      <button *ngIf="paymentMethod === 'dw2'" (click)="clickDw2()" class="btn btn-primary pull-right"><fa-icon [icon]="faWallet"></fa-icon> Pay via Digital Wallet</button>
    </div>
  </div>
  <br>
  <div [hidden]="!dw2Click">
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3 pull-right">

        <!--input [disabled]="true"  type="button" class="btn btn-secondary pull-right" value="$"-->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">$</span>
          </div>
          <input id="confirm" class="form-control" placeholder="Enter total amount" type="text" [(ngModel)]="enteredTotal">
        </div>


      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input [disabled]="'$'+enteredTotal!=total"  type="button" (click)="goToEnd()" class="btn btn-primary pull-right" value="Confirm">

      </div>
    </div>

  </div>


</div>

