<div class="jumbotron">
  <h2>{{title}}</h2>
  <br>
  <div class="card">
    <h5 class="card-header">Please read carefully</h5>
    <div class="card-body">
      <p class="card-text" style="text-align: left">This experiment is a part of the coursework for CS770 (Human-Computer Interaction). The experiment is composed of two parts. In each part, you will be making some purchases through an application (not with real money). For the purposes of this experiment, you will be provided with a financial profile which you should keep in mind before making your purchases.
        Remember, this is totally voluntary. If you should become uncomfortable or find this session objectionable in any way, feel free to quit at any time.
      </p>
    </div>
  </div>
  <br>
  <h5>Select the payment type assigned to the participant</h5>
  <br>
  <div class="row">
    <div class="col-md-4">
      <input type="button" (click)="cashClick()"  class="btn btn-primary" value="Cash">
    </div>
    <div class="col-md-4">
      <input type="button" (click)="dw1Click()"  class="btn btn-primary" value="DW1">
    </div>
    <div class="col-md-4">
      <input type="button" (click)="dw2Click()"  class="btn btn-primary" value="DW2">
    </div>
  </div>
</div>
