<div class="jumbotron">
  <h2>{{title}}</h2>
  <br>


  <div class="card">
    <h5 class="card-header">Financial Profile</h5>
    <div class="card-body">
      <p class="card-text" style="text-align: left">You are currently new to the workplace. You just graduated from the university. To be an independent person, you left home, rented a house, and bought a car. You found a position in a company, which offers you a stable after-tax monthly salary of $5,000. Also, you have $5,000 in your checking and savings accounts combined. Every month, your total payment for constant spending is $2,550, including rent, phone bill, car payment, car insurance renewal, and utilities. Now, you don’t have a college loan and are free of debts. You are free to allocate the surplus of your money.</p>
    </div>
  </div>
  <br>
  <div class="card">
    <h5 class="card-header">Part1 Details</h5>
    <div class="card-body">
      <p class="card-text" style="text-align: left">Please imagine you are the protagonist of the financial profile. Since you just moved into a new apartment, you had to buy some new furniture for your apartment. So, in this part, you will be given an application to purchase living room essentials based on a trade-off between price and quality i.e. the more expensive item is generally of better quality. In total, you have to buy five types (chair, table, TV etc.) of living room essentials. For each type, there will be three options with different prices. After making your decision, you will pay the via the instructed means.</p>
    </div>
  </div>
  <br>
  <input type="button" (click)="goToPart1()"  class="btn btn-primary pull-right" value="Proceed to Part 1">
</div>
