<div class="jumbotron">
  <h2>{{title}}</h2>
  <br>


  <div class="card">
    <h5 class="card-header">Financial Profile (Same as Part1)</h5>
    <div class="card-body">
      <p class="card-text" style="text-align: left">You are currently new to the workplace. You just graduated from the university. To be an independent person, you left home, rented a house, and bought a car. You found a position in a company, which offers you a stable after-tax monthly salary of $5,000. Also, you have $5,000 in your checking and savings accounts combined. Every month, your total payment for constant spending is $2,550, including rent, phone bill, car payment, car insurance renewal, and utilities. Now, you don’t have a college loan and are free of debts. You are free to allocate the surplus of your money.</p>
    </div>
  </div>
  <br>
  <div class="card">
    <h5 class="card-header">Part2 Details</h5>
    <div class="card-body">
      <p class="card-text" style="text-align: left">Please imagine you are the protagonist of the financial profile. It is the weekend and you are hungry. You want to go out  for a steak dinner for a fun weekend outing. For the purposes of this experiment, please imagine that you do not have any dietary restrictions.
        So, in this part, you will be given an application asked to customize your own meal. The application shows two options for each course that you can select from. The cost of each option is dependent on the quality of the ingredients. You can select as many courses you wish but selecting a steak is compulsory. You can select up to  five courses to build your meal. After making the decision, you will pay via the instructed means. </p>
    </div>
  </div>
  <br>
  <input type="button" (click)="goToPart2()"  class="btn btn-primary pull-right" value="Proceed to Part 2">
</div>
