<div class="jumbotron" *ngIf="!checkout">
  <h2>{{title}}</h2>
  <br>
  <br>
  <h4>Select the an item from as many courses of your choice.</h4>
  <br>
  <form [formGroup]="dataForm" (ngSubmit)="postPart2()">
    <div class="card" *ngFor="let category of categories">
      <div class="card-header"><h5>{{category}}</h5></div>
      <div class="card-body">
        <div class="form-group card-deck" *ngIf="isDataAvailable()">

            <div class="card" *ngFor="let product of getProductByCategory(category)" style="height: 800px">
              <div class="content h-50">
                <img class="card-img-top" src='assets/images/{{product.imagename}}' alt="Card image cap" style="max-height: 100%;">
              </div>


              <div class="card-body h-50">
                <div class="">
                  <h5 class="card-title">{{ product.name}}</h5>
                  <h5 class="card-title">{{ product.price }}</h5>
                  <br>
                  <p class="card-text text-justify">{{ product.description }}</p>
                </div>

              </div>
              <div class="custom-control custom-radio">
                <input class="custom-control-input" id = {{product.name}} type="radio" name={{product.category}} [value]="product" autocomplete="off" formControlName="{{product.category}}">
                <label class="custom-control-label" for={{product.name}}><b>Add to cart</b></label>
              </div>

            </div>

        </div>
      </div>
      <br>
    </div>
    <br>
     <input type="submit" [disabled]="!dataForm.valid"  class="btn btn-primary" value="Submit and Continue">
  </form>
</div>
<app-checkout2 *ngIf="checkout" [paymentMethod]="paymentMethod" [email]="email" [selectedProducts]="selectedProducts"></app-checkout2>
